.style-classic.pallete-red .bg-danger{
    background-color: #ef3054 !important;
}
.mode-light .bg-danger{
    color: #fff;
}
.bg-danger{
    background: #45515e;
} 
.has-cover{
    position: relative;
}
.cover-image{
top:0px;
bottom: 0;
left: 0;
right: 0;
position:absolute;
opacity: 0.15;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.section .text-container {
    position: relative;
}
.text-container--medium {
    max-width: 770px;
}
.text-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 1.66667rem;
    padding-right: 1.66667rem;
}
.items-center {
    align-items: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.83334rem;
    margin-right: -0.83334rem;
}


.text-center {
    text-align: center;
}
.mb-2, .my-2 {
    margin-bottom: 0.83333rem;
}

.mt-2, .my-2 {
    margin-top: 0.83333rem;
}
.cell-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.cell, [class*=cell-] {
    box-sizing: border-box;
    padding-left: 0.83334rem;
    padding-right: 0.83334rem;
    position: relative;
    width: 100%;
}