.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    background-color :rgb(76, 133, 218);
    padding-top: 0%;
}
    

    .header h2
{
font-size :4 em;

}
    .btn 
    {
    display: inline-block;
    background: #D42990;
    padding: 10px 16px;
    border-radius:10px;
    margin-top:20px;
    font-weight:500;
    }

    .era
    {
    text-align:center;
    }
    .era > h2 {
    font-size: 3em;
    margin-top:80 px;
    }
    .era > h3 {
    font-size:2em;
    font-weight:400;
    }
    .site {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      
      .site-content {
        flex: 1;
      }