.carousel-control {
    width: 4%
}

.section-img{
    height: 100%;
    width:100%;
   
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.service-22 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.service-22 h1, .service-22 h2, .service-22 h3, .service-22 h4, .service-22 h5, .service-22 h6 {
  color: #3e4555;
}

.service-22 .font-weight-medium {
	font-weight: 500;
}

/* .service-22 .wrap-service-22 {
  margin-top: 60px;
} */

 /* .service-22 .wrap-service-22 .text-box {
  padding: 0 30px;
}  */

/* .service-22 .wrap-service-22 .text-box h3 {
  margin: 10px 0 25px 0;
} */


.service-22 .text-megna {
	color: #1dc8cd;
}

/* .row [class*='col-'] {
    min-height: 40vh;
    margin-bottom: 15px;
  }  */

  video{
    height:auto;
    width:100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

